body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 230, 226);
    color: #222;
}

header{
    background-color: rgb(31, 48, 31);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s; 

}

header:hover{
    box-shadow: 0 0 20px rgb(28, 65, 36);

}

header h1{
    font-size: 50px;
    margin: 0;
}

.hist-ac{
    background-color: rgb(31, 48, 31);
    height: 300px;
}

img-brasao-ac{
    position: relative;
    float: left;
    margin-right: 15px;
}


nav{
    background-color: rgb(117, 163, 127);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

nav a{
    text-decoration: none;
    color: rgb(226, 223, 223);
    font-weight: bold;
    font-size: 24px;
}

section{
    padding: 20px 20px; /*espaçamento da sessão*/
}

section h2{
    margin-bottom: 20px;
    color: rgb(3, 3, 3); /*cor do títulos dos cards*/
    text-align: center;
    font-size: 40px;
}

.card-ac{
    display:flex;
    gap: 20px;
    align-items: flex-start;
    background-color: floralwhite;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    max-width: 2200px;
    margin: 20px auto;
    max-height: 600px;
}

p{
    font-size: 26px;
}

.btn-ac a{
    color: #e9e7e7;
    background-color: rgb(57, 116, 96);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center; /*ele basicamente alinha o texto */
    padding: 10px;  
    width: 230px;/* largura fixa */
    height: 51px;  
    margin: 0 auto; /*cedntraliza o elemento*/
    display: block;  /*serve pra deixar o elemento fixado como bloco */
    margin-top: 5%; /*distancia da info a cima */
    transition: 0.3s ease;
}

.btn-ac:hover a{
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.836); /* aumenta sombra no hover */
    transform: scale(1.02); /* leve zoom ao passar o mouse */
    color: rgb(29, 44, 39);
    background-color: rgb(89, 121, 88);
}

.card-comida{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    background-color: antiquewhite;
    box-shadow: 0 4px 12px rgb(3, 3, 3);
    border-radius: 10px;
    padding: 20px;
    max-width: 1900px;
    margin: 10px auto;
    max-height: 600px;
}

.card-pessoas{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    background-color: burlywood;
    box-shadow: 0 4px 12px rgb(3, 3, 3);
    border-radius: 10px;
    padding: 20px;
    max-width: 1900px;
    margin: 10px auto;
    max-height: 600px;
}

.card img{
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

footer{
    background-color: rgb(73, 60, 85);
    color: navajowhite;
    text-align: center;
    padding: 10px;
    margin-top: 20px;

}

.carousel-inner img {
    max-width: 350px;
    max-height: 350px;
    margin: 0 auto;
    object-fit: cover;
}